body {
  background-color: red;
}

.main-container{
  width: 100%;
  margin: 20px auto;
  /* background-color: green; */
}

div.embed-responsive-16by9 {
  background-color: gray;
}

ul > li:hover {
  background-color: lightgrey;
}

